<div class="container-fluid">
  <wj-flex-grid [itemsSource]="data">
      <wj-flex-grid-column [header]="'Country'" [binding]="'country'" [dataMap]="countryMap"></wj-flex-grid-column>
      <wj-flex-grid-column [header]="'City'" [binding]="'city'" [dataMap]="cityMap"></wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Downloads'" [binding]="'downloads'" format="n0"></wj-flex-grid-column>
      <wj-flex-grid-column [header]="'Sales'" [binding]="'sales'" format="n0"></wj-flex-grid-column>
  </wj-flex-grid>
</div>
